
<div class='footer'>
  <div class='container'>
    <div class='row'>
      <div class='footer-col-1'>
        <h3>Về Con Cưng</h3>
        <ul>
          <li>Giới thiệu về Con Cưng</li>
          <li>Tuyển dụng khối văn phòng</li>
          <li>Tuyển dụng khối siêu thị</li>
          <li>Chính sách bảo mật</li>
          <li>Điều khoản sử dụng</li>
        </ul>
      </div>
      <div class='footer-col-2'>
        <h3>Hỗ trợ khách hàng</h3>
        <ul>
          <li>Tra cứu hóa đơn</li>
          <li>Mua và giao nhận online</li>
          <li>Quy định và hình thức thanh toán</li>
          <li>Bảo hành và bảo trì</li>
          <li>đổi trả và hoàn tiền</li>
        </ul>
      </div>
      <div class='footer-col-1'>
        <h3>Theo dõi chúng tôi</h3>
        <ul>
          <li>Youtube</li>
          <li>Twitter</li>
          <li>Instagram</li>
          <li>Facebook</li>
        </ul>
      </div>
    </div>
  </div>
</div>