<div
  class='navbar'
  style='background-image: linear-gradient(to right,#ee3e80 0,#ff6ea4 100%)'
>
  <div class='logo'>
    <img src='images/logo.png' width='125px' />
  </div>
  <div class='header-search'>
    <input
      type='text'
      class='header-search-input'
      placeholder='Nhập để tìm kiếm sản phẩm'
    />
  </div>
  <button class='header-search-btn'>
    <i class='header-search-btn-icon fas fa-search'></i>
  </button>
  <nav>
    <ul>
      <li><a href='index.html'>Trang chủ</a></li>
      <li><a href='products.html'>Sản phẩm</a></li>
      <li><a href=''>About us</a></li>
      <li><a href='Login and sign up.html'>Đăng ký</a></li>
      <li><a href='Login and sign up.html'>Đăng nhập</a></li>
    </ul>
  </nav>
  <div class='header-cart'>
    <a href='cart.html'>
      <img src='images/cart.jfif' width='30px' height='30px' />
    </a>
  </div>
</div>